body {
    /* margin: 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5;
    color: #cfd2da;
    background-color: #252830; */
}
.row{
    margin: 0;
    padding: 0;
}
.nav{
    display: inline-block;
}
.nav > .asv {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    font-size: 85%;
    font-weight: normal;
    letter-spacing: 1px;
    color: #51586a;
    text-transform: uppercase;
}
.lq .ln.active, .show > .lq .ln {
    color: #fff;
    background-color: #1997c6;
}
.lq .ln {
    border-radius: 0.25rem;
}
.nav > li > a {
    color: #cfd2da;
}
.ln {
    display: block;
    padding: 0.5rem 1rem;
}
.blj {
    position: relative;
    margin-bottom: 30px;
}
.blj .ku {
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px 10px;
    color: #9198aa;
    border: 0;
    line-height: 0;
}
.blj .form-control {
    padding-left: 15px;
    padding-right: 15px;
}
.bdb:before {
    content: "\EAEF";
}
.bv:before {
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: "toolkit-entypo";
    speak: none;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.25;
    color: #fff;
    background-color: #434857;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #434857;
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}