.login{
    margin-right: 10px;
}
/* .login a{
    background: #313131;
    color:white;
    border-radius: 2px;
} */
.pet{
    height: 370px;
    background: #efefef;
    border-radius: 9px;
    padding: 20px;
    margin-left: 2px;
    width: 250px;
}
.p-img{
    width: 100%;
    height: 150px;
}
.entry-content p{
    width: 250px;
}
.post-meta{
    display: inline-flex;
}