<ul *ngIf="cats.length>0" class="ul-c">
  <li *ngFor="let cat of cats" class="pet">
    <div class="post-content">
      <div class="entry-footer">
        <h3 class="entry-title">{{cat.name}}, Age: {{cat.age}}</h3>
        <i>
          <img class="p-img" [src]="cat.image" alt="admin-ic">
        </i>
      </div>
      <div class="entry-content">
        <p>{{cat.description}}</p>
      </div>
    </div>
  </li>
</ul>
<div class="no-pet" *ngIf="cats.length==0">
  <p>NO PETS</p>
</div>


<div class="container">
  <form (ngSubmit)="uploadImage($event)" class="form-horizontal lform">
    <p class="intro center">Upload Image</p>
    <div class="form-group">
      <input type="file" id="email" name="email" (change)="onFileChange($event)" required class="intp" placeholder="Email">
    </div>
    <img *ngIf="base64textString" [src]="base64textString" class="prof-img">
    <div class="form-group center">
      <button type="submit" class="btn llogin">Upload</button>
  </div>
  </form>
</div>