.ul-c{
    display: flex;
    list-style: none;
    background: #1d8260;
}
.ul-c li{
    padding: 10px;
}
.ul-c li:hover{
    background: #ECC207;
}
.ul-c li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.pet{
    height: 370px;
    background: #efefef;
    border-radius: 9px;
    padding: 20px;
    margin-left: 2px;
    width: 250px;
}
.p-img{
    width: 100%;
    height: 150px;
}
.entry-content p{
    width: 250px;
}
.post-meta{
    display: inline-flex;
}